name: nvchecker

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # UTC 09:00 -> CST (China) 17:00, see https://datetime360.com/cn/utc-cst-china-time/
    # 0 */3 * * * means every 3 hour at 0th min
    - cron: '0 */3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  eix:
    if: github.repository == 'Universebenzene/benzene-overlay'
    runs-on: ubuntu-latest
    container:
      image: gentoo/stage3
      options: --privileged
    outputs:
      pkgs: ${{ steps.eix.outputs.pkgs }}
    steps:
    - name: sync gentoo main tree
      run: |
        emerge-webrsync

    - name: cat binrepos
      run: |
        cat /etc/portage/binrepos.conf/gentoobinhost.conf

    - name: setup features
      run: |
        echo 'FEATURES="getbinpkg"' >> /etc/portage/make.conf
        getuto

    - name: install depends
      run: |
        emerge --verbose --quiet --jobs $(nproc) --autounmask y --autounmask-continue y \
        app-eselect/eselect-repository \
        app-portage/eix \
        dev-python/zstandard \
        dev-vcs/git

    - name: checkout
      uses: actions/checkout@v6

    - name: eix
      id: eix
      run: |
        # eselect
        echo "::group::eselect repository add and sync"
        repo_name=$(cat profiles/repo_name)
        eselect repository add "$repo_name" git "file://${PWD}"
        emerge --sync "$repo_name"
        egencache --jobs=$(nproc) --update --repo "$repo_name" &> /dev/null
        eix-update
        echo "::endgroup::"
        # eix
        echo "::group::eix search packages"
        pkgs=$(ACCEPT_LICENSE="*" ACCEPT_KEYWORDS="~amd64 ~arm64 ~loong ~riscv" EIX_LIMIT=0 NAMEVERSION="<category>/<name>-<version>\n" eix --pure-packages --in-overlay "$repo_name" --format '<bestversion:NAMEVERSION>')
        pkgs=$(qatom -F "\"%{CATEGORY}/%{PN}\": \"%{PV}\"," $pkgs) # remove revision
        pkgs="{ ${pkgs::-1} }"
        echo $pkgs
        # use multiine string:
        # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#setting-an-output-parameter
        {
          echo 'pkgs<<EOF'
          echo "$pkgs"
          echo 'EOF'
        } >> "$GITHUB_OUTPUT"
        echo "::endgroup::"

  nvchecker:
    needs: eix
    runs-on: ubuntu-latest
    outputs:
      nvcmp: ${{ steps.nvchecker.outputs.nvcmp }}
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: install depends
      run: |
        pip install nvchecker jq

    - name: echo pkgs
      run: |
        echo '${{ needs.eix.outputs.pkgs }}'

    - name: nvchecker
      id: nvchecker
      env:
        GITHUB_TOKEN: ${{ secrets.BENZENE_OVERLAY_NVCHECKER_PAT }}
      run: |
        echo "::group::nvchecker"
        cd .github/workflows/
        echo '${{ needs.eix.outputs.pkgs }}' > old_ver.json
        echo -e "[keys]\ngithub = \"${{ secrets.GITHUB_TOKEN }}\"" > keyfile.toml
        echo "Start nvchecker ..."
        nvchecker --logging debug --file overlay.toml --keyfile keyfile.toml
        echo "End nvchecker"
        echo "::endgroup::"

        echo "::group::nvcmp"
        echo "nvcmp=$(nvcmp --file overlay.toml --json --newer | jq 'map({name, newver, oldver})' | jq -c .)" >> $GITHUB_OUTPUT
        echo "::endgroup::"

  issues-bumper:
    needs: nvchecker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJson(needs.nvchecker.outputs.nvcmp) }}
    steps:
    - name: Checkout bumpbot
      uses: actions/checkout@v6
      with:
        repository: 'gentoo-zh-drafts/bumpbot'

    - name: Checkout benzene-overlay
      uses: actions/checkout@v6
      with:
        path: 'benzene-overlay'

    - name: update issues
      timeout-minutes: 1
      env:
        name: ${{ matrix.name }}
        newver: ${{ matrix.newver }}
        oldver: ${{ matrix.oldver }}
        GITHUB_TOKEN: ${{ secrets.BENZENE_OVERLAY_NVCHECKER_PAT }} # https://github.com/microcai/gentoo-zh/pull/3130
      run: |
        go run . --file benzene-overlay/.github/workflows/overlay.toml --name "$name" --newver "$newver" --oldver "$oldver"
